.pieces{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-bg) transparent;
}

.pieces::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

.pieces::-webkit-scrollbar-thumb{
    background-color: var(--scroll-bar-bg);
    border-radius: 10px;
}

.pieces_title{
    font-family: 'mulish';
    font-size: 1.2rem;
    color: #CECECE;
    margin: 0px;
    text-align: center;
}

.pieces_white, .pieces_black{
    display: flex;
    gap: 7px;
    align-items: center;
}

.pieces_white > img, .pieces_black > img{
    width: 15px;
    object-fit: contain;
}   

@media(max-width: 1170px){
    .pieces{
        grid-row: 2/3;
        grid-column: 1/2;
    }
}

@media(max-width: 620px){
    .pieces{
        width: 100%;
        height: auto; 
        background-color: transparent;  
        display: grid;
        grid-column: 1/4;
        grid-row: 1/3;
        grid-template-columns: 100px 1fr;
        padding: 10px 25px;
    }

    .pieces_white{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .pieces_black{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .pieces_title{
        font-size: 1rem;
        grid-row: 1/3;
        grid-column: 1/2;
        align-self: center;
    }
}