.letter{
    max-height: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    scrollbar-width: 0px;
    scrollbar-color: transparent transparent;    
}

.letter::-webkit-scrollbar{
    width: 0px;
    background-color: transparent;
}

.letter::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 0px;
}

.ignore{
    display: none;
}

