.container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.word_container{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.letter_container{
    width: 50px;
    height: auto;
}

.title{
    margin: 0px;
    font-family: 'amanda black';
    font-size: 5rem;
    color: var(--text-color);
    font-weight: 300;
}