.line{
    width: 100%;
    height: 2px;
    background-color: blue;
    border-radius: 20px;
    transform-origin: left;
    position: relative;
    transition: all 1.2s linear;
}

.glowEffect{
    width: 100%;
    height: 15px;
    background-color: blue;
    filter: blur(10px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}