.currentTurn{
    margin: 20px 0px 0px 0px;
    font-size: 2rem;
    font-family: 'mulish';
    text-transform: capitalize;
    font-weight: 800;
    color: var(--text-color);
    white-space: nowrap;
}
