.header{
    width: 100%;
    min-height: calc(100vh - 80px);   
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: var(--close);
}