.container{
    width: 100%;
    height: 1024px;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: var(--far);
}

.container > path{
    transition: all 0s;
}

@media(max-width: 1035px){
    .container{
        width: 100%;
    }
}
