.menu{
    width: 500px;
    padding: 20px 30px 20px 30px;
    background-color: var(--container-background);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu_title{
    font-size: 1.6rem;
    font-family: 'mulish';
    font-weight: 800;
    color: var(--text-color);
    margin: 0px;
}


.menu_option{
    width: 100%;
    height: 45px;
    background-color: var(--menu-button-bg);
    color: #CECECE;
    border-radius: 10px;
    font-family: 'mulish';
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.menu_option:hover{
    background-color: var(--menu-button-bg-hover);    
}

.menu_option:active{
    background-color: var(--menu-button-bg-active);
}


.menu_submit{
    width: 100%;
    height: 45px;
    background-color: var(--menu-button-submit-bg);
    color: var( --menu-button-text-color);
    border-radius: 10px;
    font-family: 'mulish';
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.menu_submit:hover{
    background-color: var(--menu-button-submit-hover);
}

.menu_submit:active{
    background-color: var(--menu-button-submit-active)
}

.menu_submit:disabled{
    background-color: var(--menu-button-disabled-bg);
    color: var(--menu-button-text-disabled);
    cursor: not-allowed;
}

@media(max-width: 530px){
    .menu{
        width: 340px;
    }
}