.screen{
    width: 100px;
    height: 100px;
    position: fixed;
    inset: 0;
    margin: auto;
    transition: all 0s;
    z-index: var(--close);
    transition: all 0s;
    padding: 80px 0px;    
}

.screen_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px
}

@media(max-width: 600px){
    .screen{
        padding: 70px 0px;
    }
}