@font-face {
    font-family: 'mulish';
    src: url('./assets/fonts/Mulish-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'amanda black';
    src: url('./assets/fonts/AnandaBlackPersonal.ttf');
}


html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    min-height: 100vh;
    height: 5000px;
    background-color: var(--background);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear, transform 0s, opacity 0s;
}

:root{
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: 1;

    --background: #000070;
    --container-background: rgb(1, 1, 44);
    --mobile-container-background: rgba(0, 0, 0, 0.5);

    --text-color: rgb(206, 206, 206);
    --input-text-color: rgb(36, 36, 36);
    --error-text: rgb(160, 0, 0);

    --button-bg: rgb(0, 0, 161);
    --button-bg-hover: #0404d1;
    --button-bg-active: rgb(3, 3, 253);

    --button-2-bg: rgb(240, 240, 240);
    --button-2-bg-hover: rgb(182, 182, 182);
    --button-2-bg-active: rgb(145, 145, 145);
    --button-2-bg-text: rgb(0, 0, 161);

    --link-text-color: rgb(14, 14, 255);
    --link-text-color-hover: rgb(51, 51, 255);

    --scroll-bar-bg: rgb(31, 31, 153);

    --dialog-bg: rgb(0, 0, 99);

    --button-bg-disabled: #d3d3d3;
    --button-bg-text-disabled: #a9a9a9;

    --queue-container-bg: rgb(1, 1, 206);

    --dialog-promotion-button-bg: rgb(1, 1, 148);
    --dialog-promotion-button-hover: rgb(11, 11, 172);
    --dialog-promotion-button-active: rgb(38, 38, 230);

    --display-message-bg: rgb(71, 71, 253);
    --display-message-text-hover: rgb(131, 131, 131);
    --display-message-text-active: rgb(71, 71, 71);
}