@font-face {
    font-family: 'mulish';
    src: url('./assets/fonts/Mulish-VariableFont_wght.ttf');
}

body{
    margin: 0px;
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear, transform 0s, opacity 0s;
}

:root{
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: 1;
}