.login{
    width: 500px;
    padding: 20px 30px 20px 30px;
    background-color: var(--container-background);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login_title{
    font-size: 1.6rem;
    font-family: 'mulish';
    font-weight: 800;
    color: var(--text-color);
    margin: 0px;
}

.login_desc{
    font-size: 1rem;
    font-weight: 600;
    font-family: 'mulish';
    color: var(--text-color);
    margin: 0px;
}

.login_message{
    font-size: 0.9rem;
    font-family: 'mulish';
    font-weight: 300;
    color: var(--text-color);
    margin: 0px;
}

.login_link{
    font-size: 0.9rem;
    font-family: 'mulish';
    font-weight: 300;
    color: var(--link-text-color);
}

.login_link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.login_link:active{
    color: var(--link-text-color-hover);
}


.login_button{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    font-family: 'mulish';
    font-size: 1.2rem;
    border: none;
    background-color: var(--login-guest-button-bg);
    color: var(--login-guest-button-text);
    cursor: pointer;
}

.login_button:hover{
    background-color: var(--login-guest-button-bg-hover);
}

.login_button:active{
    background-color: var(--login-guest-button-bg-active);
}

@media(max-width: 620px){
    .login{
        width: 350px;
        background-color: var(--container-background);
        padding: 20px;
    }
    
    .login_title{
        font-size: 1.2rem;
        text-align: center;
    }

    .login_desc{
        font-size: 0.9rem;
        text-align: center;
    }
}